:root {
    --dsg: darkslategray;
    --bgc: #2a607c;
    --txt1: #ffffff;
    --pleft: 15%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior:smooth;
}

body {
    background-color:var(--dsg);
}

header {
    padding: 20px;
    background-color:var(--bgc);
    color:var(--txt1);
    border: 10px double var(--dsg);
}

h1 {
    display: inline-block;
    font-size: 48px;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.me {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-image: url("../02-Challenge/Assets/Profile.jpg");
    height: 100rem;
    width: 41rem;
    background-size: cover;
    background-position: center;
    border: 10px groove var(--bgc);
}

.about {
    background-color: var(--dsg);
    display: block;
}

.about-card {
    background-color: red;
    height:fit-content;
    width: 500px;
    display: block;
    font-size: 20px;
}

h2 {
    display: block;
    font-size: 2.5rem;
    height:fit-content;
    width:fit-content;
    background-color:red;
    border: 3px solid black;
    border-radius: 3px;
    border-bottom: 0px;
    margin-left:15%;
}

h3 {
    display: block;
    font-size: 2.5rem;
    text-align:center;
    text-decoration:underline;
}

.projects {
    background-color: gray;
    border: 3px solid white;
}

h4 {
    display: block;
    font-size: 38px;
}

a {
    color:var(--txt1);
    text-decoration: none;
}

footer {
    padding: 20px;
    background-color:var(--bgc);
    color:var(--txt1);
}

footer div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

footer div ul {
    list-style-type: none;
}

footer div ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    display: block;
    text-align: center;
    margin-left: 15%;
    border: 3px solid black;
    border-radius: 5px;
}